
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
}

/* Para quitar los puntos a los items de listas */
ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    font-size: 20px;
}


/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
    text-decoration: none;
    color: inherit;
}

/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
main {
    width: 767px;
    max-width: 100%;
    margin: auto;
    text-align: center; 
    background-color: #fbfbfb;
    font-family: lato;
      
}

header {
   display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 90px;
    max-height: 20vh;
    width: 100%;
    max-width: 100%;
    box-shadow: 0px 5px 5px 0px rgb(199, 196, 196);
    left: 0;
    top: 0;
    position: fixed;
    z-index: 100;
    background-color: #fbfbfb;
    margin-bottom: 30px;

    
}

header img{
    max-width: 150px;
    text-align: left;
    width: 25%;
    max-height: 80px;
    margin: 10px 10px;
}

.item-menu1, li.item-menu1 a.active  {
   padding: 20px;
    font-size: 20px;
}

#descargar:hover,
#item-menu2:hover,
li.item-menu1:hover,
li.item-menu1 a.active {
    background: rgba(175,89,158, 0.5);
    transition: background-color 0.3s;
}

p {
    margin-bottom: 20px;
    margin-left: 10%;
    font-size: 16px;
    max-width: 80%;
    
    
}

h1 {
    padding-top: 20px;
    font-size: 34px;
    
}
h2 {
    padding-top: 20px;
    font-size: 28px;
    
}


#inicio {
    min-height: 100vh;
    padding-top: 110px;
    margin-bottom: 20px;

    
}


.circular {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    background-color: black;
    margin-left: 10%;
    width: 80%;
    height: auto;
    max-width: 350px;
    max-height: 35%;
    
}

.circular img {
    width: 100%;
    height: auto;
}

#descargar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #af599e;
    border: solid;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px;
    max-width: 300px;
    width: 50%; 
    color: #fbfbfb;
    font-size: 18px;
    margin-left: 25%;
    margin-bottom: 20px;

}

#contacto {
    min-height: 85vh;
    padding-top: 120px;
    max-height: 100vh;
    padding-bottom: 20%;
    margin-bottom: 20px;
    max-height: 100vh;

}

#hablemos {
    background-color: rgba(175,89,158, 0.3);
    padding: 20px 0px;

}

footer {
    background-color: #af599e;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 100px; 
}

/* este sector es para desktop */

@media (min-width: 768px) {


    main {
        max-width: 100%;
        width: 1100px;
  
    }
    header {
        width: 100%;
    }

    #menu1 {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-left: 300px;

    }
  
    #inicio { 
        display: flex;
        flex-direction:row;
        justify-content: space-around;
        align-items: flex start;
       /*  padding-top: 150px; */
        min-height: 50vh;
        max-width: 90%;
        padding-top: 100px;
    }
    .textoInicio {
        width: 45%;

    }

    .circular {
        position: relative;
        width: 45%;
        height: 45%;
        overflow: hidden;
        border-radius: 50%;
        background-color: black;
        margin-right: 30px;
        margin-top: o;
        max-width: 400px;
        
         
    }
    
    #descargar {
        margin-left: 0%;
        }   
    
  h1{
    padding-top: 20px;
  }
  p{
    max-width: 600px;
    text-align: justify;
    margin-left: 0px;
  }
    
  #contacto {
    min-height: 50vh;
    margin-top: 0;
    padding-top: 100px;
  }
  

  #hablemos {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   max-width: 60%;
   padding: 20px 40px;
   margin-left: 25%;
   margin-right: 25%;
}
#iconos {
display: flex;
flex-direction: row;
justify-content: space-around;

}
#item-menu2 {
    margin-left: 50px;
    margin-right: 50px;
  }

  footer {
    width: 100%;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
    #menu1 {
        margin-left: 70%;
    }
}

